<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="helloWPS" class="ar.edu.utn.frba.proyecto.HelloWPS"/>
    <bean id="innerHorizontalSurfaceWPS" class="ar.edu.utn.frba.proyecto.InnerHorizontalSurfaceWPS"/>
</beans>